// TODO: Check the color and size of the text


// @use '../../02-tools/legacy-breakpoints.scss' as *;
// @use '../../02-tools/mixins.scss' as mixin;


// .wp-block-cover,
// .wp-block-cover-image {

// 	&:not(.alignwide):not(.alignfull) {
// 		clear: both;
// 	}

// 	&.alignfull {
// 		margin-top: 0;
// 		margin-bottom: 0;
// 	}

// 	background-color: var(--cover--color-background);
// 	min-height: var(--cover--height);
// 	margin-top: inherit;
// 	margin-bottom: inherit;

// 	.wp-block-cover__inner-container,
// 	.wp-block-cover-image-text,
// 	.wp-block-cover-text {
// 		color: currentColor; // Uses text color specified with background-color options in 07-utilities\color-palette.scss
// 		margin-top: var(--wp--preset--spacing--medium);
// 		margin-bottom: var(--wp--preset--spacing--medium);

// 		a:not(.wp-block-button__link):not(.wp-block-file__button) {
// 			color: currentColor;
// 		}

// 		.has-link-color a {
// 			color: var(--wp--style--color--link, var(--wp--preset--color--contrast));
// 		}
// 	}

// 	/* default & custom background-color */
// 	&:not([class*="background-color"]) {

// 		.wp-block-cover__inner-container,
// 		.wp-block-cover-image-text,
// 		.wp-block-cover-text {
// 			color: var(--cover--color-foreground);
// 		}
// 	}

// 	/* Treating H2 separately to account for legacy /core styles */
// 	h2 {
// 		// font-size: var(--heading--font-size-h2);
// 		// letter-spacing: var(--heading--letter-spacing-h2);
// 		// line-height: var(--heading--line-height-h2);
// 		@include mixin.heading(2);
// 		max-width: inherit; // undo opinionated styles
// 		text-align: inherit; // undo opinionated styles
// 		padding: 0;

// 		&.has-text-align-left {
// 			text-align: left;
// 		}

// 		&.has-text-align-center {
// 			text-align: center;
// 		}

// 		&.has-text-align-right {
// 			text-align: right;
// 		}
// 	}

// 	.wp-block-cover__inner-container {

// 		width: calc(100% - calc(2 * var(--wp--preset--spacing--medium)));

// 		> * {
// 			margin-top: calc(0.666 * var(--wp--preset--spacing--medium));
// 			margin-bottom: calc(0.666 * var(--wp--preset--spacing--medium));

// 			@include media(mobile) {
// 				margin-top: var(--wp--preset--spacing--medium);
// 				margin-bottom: var(--wp--preset--spacing--medium);
// 			}

// 			&:first-child {
// 				margin-top: 0;
// 			}

// 			&:last-child {
// 				margin-bottom: 0;
// 			}
// 		}
// 	}

// 	&.alignleft,
// 	&.alignright {
// 		margin-top: 0;

// 		> * {
// 			margin-top: calc(2 * var(--wp--preset--spacing--medium));
// 			margin-bottom: calc(2 * var(--wp--preset--spacing--medium));
// 			padding-left: var(--wp--preset--spacing--medium);
// 			padding-right: var(--wp--preset--spacing--medium);
// 			width: 100%;
// 		}
// 	}

// 	&.has-left-content,
// 	&.has-right-content {
// 		justify-content: center;
// 	}

	

// 	/* The background color class is used just for the overlay, and does not need to be applied to the inner container. */
// 	&[class*="-background-color"][class] .wp-block-cover__inner-container {
// 		background-color: unset;
// 	}
// }
