// /**
// * Editor Post Title
// * - Needs a special styles
// */

// // Post title style
// .wp-block.editor-post-title__block {
// 	border-bottom: 3px solid var(--wp--preset--color--contrast);
// 	padding-bottom: calc(2 * var(--wp--preset--spacing--medium));
// 	margin-bottom: calc(3 * var(--wp--preset--spacing--medium));
// 	max-width: var(--responsive--alignwide-width);

// 	.editor-post-title__input {
// 		//color: var(--wp--preset--color--secondary);
// 		// font-family: var(--wp--preset--font-family--heading);
// 		// font-size: var(--global--font-size-h1);
// 		// font-weight: 300;
// 		// line-height: var(--heading--line-height-h1);
// 		@include mixin.heading(2);
// 	}
// }

// // Editor UI font styles
// .wp-block.block-editor-default-block-appender > textarea {
// 	font-family: var(--wp--preset--font-family--body);
// 	font-size: var(--wp--preset--font-size--medium);
// }

// // Gutenberg text color options
// .has-primary-color[class] {
// 	color: var(--wp--preset--color--dark);
// }

// .has-secondary-color[class] {
// 	color: var(--wp--preset--color--secondary);
// }

// // Gutenberg background-color options
// .has-background {

// 	a,
// 	p,
// 	h1,
// 	h2,
// 	h3,
// 	h4,
// 	h5,
// 	h6 {
// 		color: currentColor;
// 	}
// }

// .has-primary-background-color[class] {
// 	background-color: var(--wp--preset--color--background);
// 	color: var(--wp--preset--color--background);
// }

// .has-secondary-background-color[class] {
// 	background-color: var(--wp--preset--color--secondary);
// 	color: var(--wp--preset--color--background);
// }

// .has-white-background-color[class] {
// 	background-color: var(--global----wp--preset--color--white);
// 	color: var(--wp--preset--color--secondary);
// }

// .has-black-background-color[class] {
// 	background-color: var(--wp--preset--color--black);
// 	color: var(--wp--preset--color--background);
// }

// // Spacing Overrides
// [data-block] {
// 	margin-top: var(--wp--preset--spacing--medium);
// 	margin-bottom: var(--wp--preset--spacing--medium);
// }

// // Block Alignments
// .wp-block {

// 	// Gutenberg injects a rule that limits the max width of .wp-block to 580px
// 	// This line overrides it to use the responsive spacing rules for default width content
// 	max-width: var(--responsive--aligndefault-width);

// 	// Use the theme's max-width for wide alignment.
// 	&[data-align="wide"],
// 	&.alignwide {
// 		max-width: var(--responsive--alignwide-width);
// 	}

// 	&[data-align="full"],
// 	&.alignfull {
// 		max-width: none;
// 	}
// }

// .alignleft {
// 	margin: 0;
// 	margin-right: var(--wp--preset--spacing--medium);
// }

// .alignright {
// 	margin: 0;
// 	margin-left: var(--wp--preset--spacing--medium);
// }

// // Drop cap
// .has-drop-cap:not(:focus)::first-letter {
// 	font-family: var(--wp--preset--font-family--heading);
// 	font-weight: normal;
// 	line-height: 0.66;
// 	text-transform: uppercase;
// 	font-style: normal;
// 	margin: 0.1em 0.1em 0 0;
// 	font-size: calc(1.2 * var(--heading--font-size-h1));
// }

// @media only screen and (min-width: 482px) {

// 	.wp-block[data-align="left"] > * {
// 		max-width: 290px;
// 		margin-right: var(--wp--preset--spacing--medium);
// 	}

// 	.wp-block[data-align="right"] > * {
// 		max-width: 290px;
// 		margin-left: var(--wp--preset--spacing--medium);
// 	}
// }

// // Remove the border of blockquotes inside the classic block.
// .wp-block-freeform.block-library-rich-text__tinymce blockquote {
// 	border: none;
// }

// // Adjust the position of the quote symbol for blockquotes inside the classic block.
// .wp-block-freeform.block-library-rich-text__tinymce blockquote:before {
// 	left: 5px;
// }
