// // Gutenberg Font-size utility classes
// :root {

// 	.is-extra-small-text,
// 	.has-extra-small-font-size {
// 		font-size: var(--wp--preset--font-size--x-small);
// 	}

// 	.is-small-text,
// 	.has-small-font-size {
// 		font-size: var(--wp--preset--font-size--small);
// 	}

// 	.is-regular-text,
// 	.has-regular-font-size,
// 	.is-normal-font-size,
// 	.has-normal-font-size,
// 	.has-medium-font-size {
// 		font-size: var(--wp--preset--font-size--medium);
// 	}

// 	.is-large-text,
// 	.has-large-font-size {
// 		font-size: var(--wp--preset--font-size--large);
// 		line-height: var(--wp--custom--font--line-height--heading);
// 	}

// 	.is-larger-text,
// 	.has-larger-font-size,
// 	.is-extra-large-text,
// 	.has-extra-large-font-size {
// 		font-size: var(--wp--preset--font-size--x-large);
// 		line-height: var(--wp--custom--font--line-height--heading);
// 	}

// 	.is-huge-text,
// 	.has-huge-font-size {
// 		font-size: var(--heading--font-size-h2);
// 		line-height: var(--wp--custom--font--line-height--heading);

// 		// This size is meant to mimic the page titles, so the font weight is reduced to match.
// 		font-weight: 300;
// 	}

// 	.is-gigantic-text,
// 	.has-gigantic-font-size {
// 		font-size: var(--heading--font-size-h1);
// 		line-height: var(--wp--custom--font--line-height--heading);

// 		// This size is meant to mimic the page titles, so the font weight is reduced to match.
// 		font-weight: 300;
// 	}
// }
