// [data-type="core/html"] textarea {
// 	// Make sure that the color is not white on white when a dark body background is used.
// 	color: var(--wp--preset--color--muted);
// 	border-radius: 0;
// 	padding: var(--wp--preset--spacing--small);
// }
