html {
	font-family: var(--wp--preset--font-family--body);
	line-height: var(--wp--custom--font--line-height--body);
}

body {
	--wp--typography--line-height: var(--wp--custom--font--line-height--body);
	color: var(--wp--preset--color--dark);
	background-color: var(--wp--preset--color--background);
	font-family: var(--wp--preset--font-family--body);
	font-size: var(--wp--preset--font-size--medium);
	font-weight: normal;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

// Links styles
.wp-block a {
	color: var(--wp--style--color--link, var(--wp--preset--color--contrast));

	&:hover {
		text-decoration-style: dotted;
	}

	&:focus {
		outline: 2px solid var(--wp--style--color--link, var(--wp--preset--color--contrast));
		text-decoration: none;
	}
}

// Enforce the custom link color even if a custom background color has been set.
// The extra specificity here is required to override the background color styles.
.has-background {
	// Target both current level and nested block.
	.has-link-color a,
	&.has-link-color a {
		color: var(--wp--style--color--link, var(--wp--preset--color--contrast));
	}
}

button,
a {
	cursor: pointer;
}
