@use '../../../02-tools/mixins.scss' as mixin;

.wp-block-columns {

    &.is-style-Luma-Core-columns-overlap {

        justify-content: space-around;

        @include mixin.bp-up(md) {
            //laptop up

            .wp-block-column {

                &:nth-child(2n) {
                    margin-left: calc(-2 * var(--wp--preset--spacing--medium));
                    margin-top: calc(2.5 * var(--wp--preset--spacing--medium));
                    z-index: 2;

                    // Provide text-based child blocks with a default background color to ensure they're readable.
                    >p,
                    >h1,
                    >h2,
                    >h3,
                    >h4,
                    >h5,
                    >h6,
                    >ul,
                    >ol,
                    >pre {

                        &:not(.has-background) {
                            background-color: var(--wp--preset--color--background);
                            padding: var(--wp--preset--spacing--small);
                        }
                    }

                    // Lists should still have their usual left padding.
                    >ul:not(.has-background),
                    >ol:not(.has-background) {
                        padding-left: calc(2 * var(--wp--preset--spacing--medium));
                    }

                    &.is-vertically-aligned-center {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}