//TOOD: set gap (needs specifity), possibly set figcaption size

// .wp-block-gallery {

// 	margin: 0 auto;

// 	.blocks-gallery-image,
// 	.blocks-gallery-item {

// 		// On mobile and responsive viewports, we allow only 1 or 2 columns at the most.
// 		width: calc((100% - var(--wp--preset--spacing--small)) / 2);

// 		figcaption {
// 			margin: 0;
// 			// Text color is always white to account for default gradient background
// 			color: var(--wp--preset--color--white);
// 			font-size: var(--wp--preset--font-size--x-small);

// 			a {
// 				color: var(--wp--preset--color--white);

// 				&:focus {
// 					background-color: transparent;
// 					outline: 2px solid var(--wp--style--color--link, var(--wp--preset--color--primary));
// 					text-decoration: none;
// 				}
// 			}
// 		}

// 		a:focus img {
// 			outline-offset: 2px;
// 		}

// 	}
// }
