// .wp-block-latest-posts {
// 	padding-left: 0;

// 	// Vertical margins logic
// 	&:not(.is-grid) > li {
// 		margin-top: calc(1.666 * var(--wp--preset--spacing--medium));
// 		margin-bottom: calc(1.666 * var(--wp--preset--spacing--medium));

// 		&:first-child {
// 			margin-top: 0;
// 		}

// 		&:last-child {
// 			margin-bottom: 0;
// 		}
// 	}

// 	&.is-grid {
// 		word-wrap: break-word;
// 		word-break: break-word;

// 		> li {
// 			margin-bottom: var(--wp--preset--spacing--medium);

// 			&:last-child {
// 				margin-bottom: 0;
// 			}
// 		}
// 	}

// 	> li > * {
// 		margin-top: calc(0.333 * var(--wp--preset--spacing--medium));
// 		margin-bottom: calc(0.333 * var(--wp--preset--spacing--medium));

// 		&:first-child {
// 			margin-top: 0;
// 		}

// 		&:last-child {
// 			margin-bottom: 0;
// 		}
// 	}

// 	// Post title
// 	> li > a {
// 		display: inline-block;
// 		font-family: var(--latest-posts--title-font-family);
// 		font-size: var(--latest-posts--title-font-size);
// 		font-weight: normal;
// 		line-height: var(--wp--custom--font--line-height--heading);
// 		margin-bottom: calc(0.333 * var(--wp--preset--spacing--medium));
// 	}

// 	// Post author
// 	.wp-block-latest-posts__post-author {
// 		color: var(--wp--preset--color--dark);
// 		font-size: var(--wp--preset--font-size--medium);
// 		line-height: var(--wp--custom--font--line-height--body);
// 	}

// 	// Post date
// 	.wp-block-latest-posts__post-date {
// 		color: var(--wp--preset--color--dark);
// 		font-size: var(--wp--preset--font-size--x-small);
// 		line-height: var(--wp--custom--font--line-height--body);

// 		[class*="inner-container"] &,
// 		.has-background & {
// 			color: currentColor;
// 		}
// 	}

// 	// Post content
// 	.wp-block-latest-posts__post-excerpt,
// 	.wp-block-latest-posts__post-full-content {
// 		font-family: var(--latest-posts--description-font-family);
// 		font-size: var(--latest-posts--description-font-size);
// 		line-height: var(--wp--custom--font--line-height--body);
// 		margin-top: calc(0.666 * var(--wp--preset--spacing--medium));
// 	}



// }
