// .wp-block-latest-posts {
// 	padding-left: 0;

// 	// Vertical margins logic
// 	&:not(.is-grid) > li {
// 		margin-top: calc(1.666 * var(--wp--preset--spacing--medium));
// 		margin-bottom: calc(1.666 * var(--wp--preset--spacing--medium));

// 		&:first-child {
// 			margin-top: 0;
// 		}

// 		&:last-child {
// 			margin-bottom: 0;
// 		}
// 	}

// 	.widget-area &:not(.is-grid) > li {
// 		margin-top: 0;
// 		margin-bottom: 0;
// 	}

// 	&.is-grid {
// 		word-wrap: break-word;
// 		word-break: break-word;

// 		> li {
// 			margin-bottom: var(--wp--preset--spacing--medium);

// 			&:last-child {
// 				margin-bottom: 0;
// 			}
// 		}

// 		// Remove bottom margins in grid columns
// 		&.columns-2 > li:nth-last-child(-n + 2):nth-child(2n + 1),
// 		&.columns-2 > li:nth-last-child(-n + 2):nth-child(2n + 1) ~ li,
// 		&.columns-3 > li:nth-last-child(-n + 3):nth-child(3n + 1),
// 		&.columns-3 > li:nth-last-child(-n + 3):nth-child(3n + 1) ~ li,
// 		&.columns-4 > li:nth-last-child(-n + 4):nth-child(4n + 1),
// 		&.columns-4 > li:nth-last-child(-n + 4):nth-child(4n + 1) ~ li,
// 		&.columns-5 > li:nth-last-child(-n + 5):nth-child(5n + 1),
// 		&.columns-5 > li:nth-last-child(-n + 5):nth-child(5n + 1) ~ li,
// 		&.columns-6 > li:nth-last-child(-n + 6):nth-child(6n + 1),
// 		&.columns-6 > li:nth-last-child(-n + 6):nth-child(6n + 1) ~ li {
// 			margin-bottom: 0;
// 		}
// 	}

// 	> li > * {
// 		margin-top: calc(0.333 * var(--wp--preset--spacing--medium));
// 		margin-bottom: calc(0.333 * var(--wp--preset--spacing--medium));

// 		&:first-child {
// 			margin-top: 0;
// 		}

// 		&:last-child {
// 			margin-bottom: 0;
// 		}
// 	}

// 	// Post title
// 	> li > a {
// 		display: inline-block;
// 		font-family: var(--latest-posts--title-font-family);
// 		font-size: var(--latest-posts--title-font-size);
// 		font-weight: normal;
// 		line-height: var(--wp--custom--font--line-height--heading);
// 		margin-bottom: calc(0.333 * var(--wp--preset--spacing--medium));
// 	}

// 	.widget-area & > li > a {
// 		font-size: var(--wp--preset--font-size--small);
// 		margin-bottom: 0;
// 	}

// 	// Post author
// 	.wp-block-latest-posts__post-author {
// 		color: var(--wp--preset--color--dark);
// 		font-size: var(--wp--preset--font-size--medium);
// 		line-height: var(--wp--custom--font--line-height--body);
// 	}

// 	// Post date
// 	.wp-block-latest-posts__post-date {
// 		color: var(--wp--preset--color--dark);
// 		font-size: var(--wp--preset--font-size--x-small);
// 		line-height: var(--wp--custom--font--line-height--body);

// 		[class*="inner-container"] &,
// 		.has-background & {
// 			color: currentColor;
// 		}
// 	}

// 	// Post content
// 	.wp-block-latest-posts__post-excerpt,
// 	.wp-block-latest-posts__post-full-content {
// 		font-family: var(--latest-posts--description-font-family);
// 		font-size: var(--latest-posts--description-font-size);
// 		line-height: var(--wp--custom--font--line-height--body);
// 		margin-top: calc(0.666 * var(--wp--preset--spacing--medium));
// 	}

// 	// Utility classes
// 	&.alignfull {
// 		padding-left: var(--wp--preset--spacing--small);
// 		padding-right: var(--wp--preset--spacing--small);

// 		.entry-content [class*="inner-container"] &,
// 		.entry-content .has-background & {
// 			padding-left: 0;
// 			padding-right: 0;
// 		}
// 	}


// 	// &.is-style-luma-core-latest-posts-borders {

// 	// 	li {
// 	// 		border: calc(3 * var(--wp--custom--separator--height)) solid var(--wp--preset--color--contrast);
// 	// 		padding: var(--wp--preset--spacing--medium) var(--wp--preset--spacing--medium);

// 	// 		&:last-child {
// 	// 			padding-bottom: var(--wp--preset--spacing--medium);
// 	// 		}
// 	// 	}

// 	// 	&:not(.is-grid) li {
// 	// 		margin-top: var(--wp--preset--spacing--medium);
// 	// 		margin-bottom: var(--wp--preset--spacing--medium);
// 	// 	}
// 	// }
// }
