/* Category 01 - settings only */
@use "01-settings/global";


/* Category 02 - Tools - directly imported into the file they are used in */

/* Category 03 - Reset and normalise */
@use "03-generic/normalize";
@use "03-generic/reset";
@use "03-generic/clearings";

/* Category 04 can contain any default HTML element. Do not add classes here, just give the elements some basic styles. */
@use './04-elements/styles.scss' as elementsStyles; 

/* Category 05 Objects - unstyled layout rules (grid etc) */
@use "05-objects/vertical-margins";
@use "05-objects/widths";

/* Category 06 is all about adjusting the default block styles to match this theme. */
@use "06-blocks/blocks";

/* Category 07 contains all "bigger" components which contain elements of the previous two categories like header, footer, page template, single template, comments section, archives, ... */
@use "07-components/parts/header";
@use "07-components/parts/footer";
@use "07-components/parts/footer-navigation";
@use "07-components/parts/entry";
@use "07-components/parts/comments";
@use "07-components/parts/navigation";
@use "07-components/parts/page-header";
@use "07-components/parts/pagination";
@use "07-components/parts/widgets";

@use "07-components/view/search";
@use "07-components/view/archives";
@use "07-components/view/single";
@use "07-components/view/posts-and-pages";
@use "07-components/view/404" as notFound;

/* Category 07 is for any utility classes that are not assigned to a specific component. */
@use "08-utilities/a11y" as intl;
//@use "07-utilities/color-palette";
//@use "07-utilities/measure";
//@use "07-utilities/ie";


