// @use '../../02-tools/legacy-breakpoints.scss' as *;
// // TODO DEPRECATED UPDATE!!
// @use "../../02-tools/mixins" as *;
// // TODO DEPRECATED UPDATE!!

// .wp-block-columns {

// 	&:not(.alignwide):not(.alignfull) {
// 		clear: both;
// 	}

// 	.wp-block,
// 	.wp-block-column {
// 		// Allow Gutenberg to set the width of a block that lives inside the columns block.
// 		max-width: inherit;
// 	}

// 	@include innerblock-margin-clear(".wp-block-column");

// 	.wp-block[data-align="full"] > & {

// 		p:not(.has-background),
// 		h1:not(.has-background),
// 		h2:not(.has-background),
// 		h3:not(.has-background),
// 		h4:not(.has-background),
// 		h5:not(.has-background),
// 		h6:not(.has-background) {
// 			padding-left: var(--wp--preset--spacing--small);
// 			padding-right: var(--wp--preset--spacing--small);
// 		}
// 	}
// }
