// @use '../../01-settings/breakpoints.scss' as breakpoint;

// .wp-block-columns {

// 	&:not(.alignwide):not(.alignfull) {
// 		clear: both;
// 	}

// 	.wp-block-column {

// 		>* {
// 			margin-top: calc(0.66 * var(--wp--preset--spacing--medium));
// 			margin-bottom: calc(0.66 * var(--wp--preset--spacing--medium));

// 			@include mixin.bp-up(sm) {
// 				// mobile and up
// 				margin-top: var(--wp--preset--spacing--medium);
// 				margin-bottom: var(--wp--preset--spacing--medium);
// 			}

// 			&:first-child {
// 				margin-top: 0;
// 			}

// 			&:last-child {
// 				margin-bottom: 0;
// 			}
// 		}

// 		&:last-child {
// 			margin-bottom: 0;
// 		}
// 	}

// 	.wp-block-column:not(:last-child) {
// 		margin-bottom: calc(0.66 * var(--wp--preset--spacing--medium));

// 		@include mixin.bp-up(sm) {
// 			// mobile up
// 			margin-bottom: var(--wp--preset--spacing--medium);
// 		}

// 		@include mixin.bp-up(lg) {
// 			// desktop up
// 			margin-bottom: 0;
// 		}
// 	}

// 	&.alignfull {

// 		.wp-block-column {

// 			p:not(.has-background),
// 			h1:not(.has-background),
// 			h2:not(.has-background),
// 			h3:not(.has-background),
// 			h4:not(.has-background),
// 			h5:not(.has-background),
// 			h6:not(.has-background) {
// 				padding-left: var(--wp--preset--spacing--small);
// 				padding-right: var(--wp--preset--spacing--small);
// 			}
// 		}
// 	}
// }