// TODO: set up button mixin and include here
// also use in general css

// @use "../../02-tools/mixins" as mixin;

// // Generic buttons
// .site .button,
// button,
// input[type="submit"],
// input[type="reset"],
// .wp-block-search .wp-block-search__button,
// .wp-block-file a.wp-block-file__button,
// .wp-block-button__link {
//   @include mixin.button-style();
// }

// // Block options
// .wp-block-button {
//   &:not(.is-style-outline) {
//     .wp-block-button__link:not(:hover):not(:active) {
//       &:not(.has-text-color) {
//         color: var(--wp--preset--color--background);
//       }

//       &:not(.has-background) {
//         background-color: var(--wp--preset--color--background);
//       }
//     }

//     .wp-block-button__link:hover,
//     .wp-block-button__link:active {
//       border-color: currentColor !important;
//       background-color: transparent !important;
//       color: inherit !important;
//     }
//   }

//   &.is-style-outline {
//     .wp-block-button__link:not(:hover):not(:active) {
//       &:not(.has-text-color) {
//         color: var(--wp--preset--color--primary);
//       }

//       &:not(.has-background) {
//         background-color: transparent;
//       }
//     }

//     .wp-block-button__link:hover,
//     .wp-block-button__link:active {
//       background-color: var(--wp--preset--color--background) !important;
//       border-color: transparent !important;
//       color: var(--wp--preset--color--background) !important;
//     }
//   }

//   &.is-style-squared .wp-block-button__link {
//     border-radius: 0;
//   }
// }

// .wp-block-button__link[style*="radius"] {
//   outline-offset: 2px;
// }