// .wp-block-video {

// 	figcaption {
// 		color: var(--wp--preset--color--dark);
// 		font-size: var(--wp--preset--font-size--x-small);
// 		margin-top: calc(0.5 * var(--wp--preset--spacing--small));
// 		margin-bottom: var(--wp--preset--spacing--small);
// 		text-align: center;
// 	}
// }

// * > figure > video {
// 	max-width: unset;
// 	width: 100%;
// 	vertical-align: middle;
// }
