/* subheading */
.customize-control .customize-control-luma-core-customize-subheading {
  font-size: 18px;
    font-weight: 700;
    margin: 0;
}

/* Add top margin if there's a previous li with the same class inside */
.customize-control + .customize-control .customize-control-luma-core-customize-subheading {
    margin-top: 1rem;
}
