/* Reset default */
.customize-control .customize_control_category {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

/* Add top margin if there's a previous li with the same class inside */
.customize-control + .customize-control .customize_control_category {
    margin-top: 1rem;
}

/* li .customize-control-description {
    margin-bottom: 0;
} */