// @use "../../02-tools/mixins" as *;
// // TODO DEPRECATED UPDATE!!

// .wp-block-group {

// 	&.has-background {
// 		padding: var(--wp--preset--spacing--medium);

// 		[data-align="full"] & {
// 			margin-top: 0;
// 			margin-bottom: 0;
// 		}
// 	}
// }

// .wp-block-group .wp-block-group.has-background>.block-editor-block-list__layout>[data-align="full"] {
// 	margin: 0;
// 	width: 100%;
// }