// @use '../../02-tools/legacy-breakpoints.scss' as *;
// // TODO DEPRECATED UPDATE!!

// .wp-block-group {

// 	// Start IE clearfix.
// 	// This hack is only necessary because we want to support IE11.
// 	// If we don't want to support IE11, then "display: flow-root" would suffice.

// 	display: flow-root; // stylelint-disable-line declaration-block-no-duplicate-properties

// 	// End IE clearfix.

// 	.wp-block-group__inner-container {
// 		margin-left: auto;
// 		margin-right: auto;

// 		> * {
// 			margin-top: calc(0.666 * var(--wp--preset--spacing--medium));
// 			margin-bottom: calc(0.666 * var(--wp--preset--spacing--medium));

// 			&.alignfull {
// 				@extend %responsive-alignfull-width-mobile;
// 			}

// 			@include media(mobile) {
// 				margin-top: var(--wp--preset--spacing--medium);
// 				margin-bottom: var(--wp--preset--spacing--medium);
// 			}

// 			&:first-child {
// 				margin-top: 0;
// 			}

// 			&:last-child {
// 				margin-bottom: 0;
// 			}
// 		}
// 	}

// 	&.has-background {
// 		padding: calc(0.666 * var(--wp--preset--spacing--medium));

// 		@include media(mobile) {
// 			padding: var(--wp--preset--spacing--medium);
// 		}
// 	}
// }
