.wp-block-sgwd-plg-contact-form {
    background: var(--wp--preset--color--light);
    padding: var(--wp--preset--spacing--30);
    border-radius: var(--wp--preset--border-radius--small);
    gap: var(--wp--custom--form--gap);

    .input-group {
        gap: var(--wp--custom--form--gap);
    }
}