p {

	line-height: var(--wp--custom--font--line-height--body);

	// inherits general font style set at <body>
	&.has-background {
		padding: var(--wp--preset--spacing--small);
	}

	// Override `color: inherit` from Core styles.
	&.has-text-color a {
		color: var(--wp--preset--color--contrast);
	}
}
