@use '../../02-tools/legacy-breakpoints.scss' as *;
// TODO DEPRECATED UPDATE!!

.wp-block-quote {
	// border-left: 4px solid var(--wp--preset--color--secondary);
	// font-family: var(--quote--font-family);
	//font-size: var(--quote--font-size);
	// font-style: var(--quote--font-style);
	// font-weight: 400;
	//line-height: var(--quote--line-height);

	// p {
	// 	font-family: inherit;
	// 	font-size: inherit;
	// 	font-style: inherit;
	// 	font-weight: inherit;
	// 	line-height: inherit;
	// 	letter-spacing: inherit;
	// }

	// &:before {
	// 	content: "\201C";
	// 	left: 8px;
	// }

	// cite {
	// 	font-weight: normal;
	// }

	// .wp-block-quote__citation,
	// cite,
	// footer {
	// 	font-family: inherit;
	// 	font-style: inherit;
	// 	font-weight: inherit;
	// 	line-height: inherit;
	// 	letter-spacing: inherit;

	// 	.has-background &,
	// 	[class*="background-color"] &,
	// 	[style*="background-color"] &,
	// 	.wp-block-cover[style*="background-image"] & {
	// 		color: currentColor;
	// 	}
	// }

	// &:where(:not([style*="font-style"])) .wp-block-quote__citation,
	// &:where(:not([style*="font-style"])) cite,
	// &:where(:not([style*="font-style"])) footer {
	// 	font-style: var(--quote--font-style-cite);
	// }

	// // The cite has a lighter font-weight than the rest of the quote.
	// &:where(:not([style*="font-weight"])) .wp-block-quote__citation,
	// &:where(:not([style*="font-weight"])) cite,
	// &:where(:not([style*="font-weight"])) footer {
	// 	font-weight: normal;
	// }

	/**
	 * Block Options
	 */
	// &.has-text-align-right {
	// 	margin: var(--wp--preset--spacing--medium) var(--wp--preset--spacing--medium) var(--wp--preset--spacing--medium) auto;
	// 	padding-right: 0;
	// 	border-right: none;

	// 	// // Hide the left aligned quote.
	// 	// &:before {
	// 	// 	display: none;
	// 	// }

	// 	// // Align the quote left of the text.
	// 	// p:before {
	// 	// 	content: "\201D";
	// 	// 	margin-right: 5px;
	// 	// }
	// }

	// &.has-text-align-center {
	// 	margin: var(--wp--preset--spacing--medium) auto;

	// 	// &:before {
	// 	// 	display: none;
	// 	// }
	// }

	// // The large style was removed in WordPress 6.0, the CSS is kept for backwards compatibility.
	// &.is-large,
	// &.is-style-large {
	// 	padding-left: 0;
	// 	padding-right: 0;

	// 	/* Resetting margins to match _block-container.scss */
	// 	margin-top: var(--wp--preset--spacing--medium);
	// 	margin-bottom: var(--wp--preset--spacing--medium);

	// 	p {
	// 		font-size: var(--quote--font-size-large);
	// 		font-style: var(--quote--font-style-large);
	// 		line-height: var(--quote--line-height-large);
	// 	}

	// 	&:before {
	// 		font-size: var(--quote--font-size-large);
	// 		line-height: var(--quote--line-height-large);
	// 		left: calc(-1 * var(--wp--preset--spacing--medium));
	// 	}

	// 	&.has-text-align-right {

	// 		// Hide the left aligned quote.
	// 		&:before {
	// 			display: none;
	// 		}

	// 		// Align the quote left of the text.
	// 		p:before {
	// 			content: "\201D";
	// 			font-size: var(--quote--font-size-large);
	// 			font-weight: normal;
	// 			line-height: var(--quote--line-height-large);
	// 			margin-right: 10px;
	// 		}
	// 	}

	// 	.wp-block-quote__citation,
	// 	cite,
	// 	footer {
	// 		color: var(--wp--preset--color--primary);
	// 		font-size: var(--wp--preset--font-size--small);
	// 	}

	// 	@include media(mobile-only) {
	// 		padding-left: var(--wp--preset--spacing--medium);

	// 		&:before {
	// 			left: 0;
	// 		}

	// 		&.has-text-align-right {
	// 			padding-left: 0;
	// 			padding-right: var(--wp--preset--spacing--medium);

	// 			&:before {
	// 				right: 0;
	// 			}
	// 		}

	// 		&.has-text-align-center {
	// 			padding-left: 0;
	// 			padding-right: 0;
	// 		}
	// 	}
	// }

	// @include media(mobile-only) {

	// 	&.has-text-align-right {
	// 		padding-left: 0;
	// 		padding-right: calc(0.5 * var(--wp--preset--spacing--medium));

	// 		&:before {
	// 			right: 0;
	// 		}
	// 	}

	// 	&.has-text-align-center {
	// 		padding-left: 0;
	// 		padding-right: 0;
	// 	}
	// }
}
