.single .entry-header,
.page .entry-header {
	border-bottom: 3px solid var(--wp--preset--color--contrast);
	padding-bottom: calc(2 * var(--wp--preset--spacing--40));
	margin-bottom: calc(3 * var(--wp--preset--spacing--40));
}

.home .entry-header {
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
}

.single .has-post-thumbnail .entry-header,
.page .has-post-thumbnail .entry-header {
	border-bottom: none;
	padding-bottom: calc(1.3 * var(--wp--preset--spacing--40));
	margin-bottom: 0;
}