// hr {
// 	border-style: none;
// 	border-bottom: var(--wp--custom--separator--height) solid var(--wp--custom--separator--border-color);
// 	clear: both;
// 	margin-left: auto;
// 	margin-right: auto;

// 	&.wp-block-separator {
// 		border-bottom: var(--wp--custom--separator--height) solid var(--wp--custom--separator--border-color);
// 		opacity: 1;

// 		&:not(.is-style-dots):not(.alignwide) {
// 			max-width: var(--responsive--aligndefault-width);
// 		}

// 		&:not(.is-style-dots) {

// 			&.alignwide {
// 				max-width: var(--responsive--alignwide-width);
// 			}

// 			&.alignfull {
// 				max-width: var(--responsive--alignfull-width);
// 			}
// 		}

// 		&.is-style-dots {

// 			&.has-background,
// 			&.has-text-color {
// 				background-color: transparent !important;

// 				&:before {
// 					color: currentColor !important;
// 				}
// 			}

// 			&:before {
// 				color: var(--wp--custom--separator--border-color);
// 				font-size: var(--wp--preset--font-size--x-large);
// 				//letter-spacing: var(--wp--preset--font-size--small);
// 				//padding-left: var(--wp--preset--font-size--small);
// 			}
// 		}

// 		.has-background &,
// 		[class*="background-color"] &,
// 		[style*="background-color"] &,
// 		.wp-block-cover[style*="background-image"] & {
// 			border-color: currentColor;
// 		}
// 	}
// }
