.testimonial {

    &__content {
        background: var(--wp--preset--color--light);
        border-radius: var(--wp--preset--border-radius--medium);

        p {
            line-height: var(--wp--custom--font--line-height--body);
            color: var(--wp--preset--color--headings);
            font-family: var(--wp--custom--font--family--heading);
            font-size: var(--wp--preset--font-size--large);
        }

        // Quotes
        &::before,
        &::after {
            // TODO: can this be a theme color?
            // color: $testimonial-border;
        }

    }

    &__meta {
        font-size: var(--wp--preset--font-size--x-small);
        color: var(--wp--preset--color--dark);

        &__rating {
            color: var(--wp--preset--color--muted-secondary);
        }
    }
}