@use '../../02-tools/mixins.scss' as mixin;

.wp-block-query {

	&.has-background {
		padding: calc(0.666 * var(--wp--preset--spacing--medium));

		@include mixin.bp-up(sm) {
			padding: var(--wp--preset--spacing--medium);
		}
	}
}
