
.wp-block-media-text {

	.wp-block-media-text__content {
		// add some top and bottom padding. Definitely needed for stacked
		//  TODO: lodge ticket not working out of the the box
		padding-top: var(--wp--preset--spacing--medium);
		padding-bottom: var(--wp--preset--spacing--medium);

		// 	&:first-child {
		// 		margin-top: 0;
		// 	}

		// 	&:last-child {
		// 		margin-bottom: 0;
		// 	}
		// }
	}
}