@use '../../02-tools/mixins.scss' as mixin;

/**
 * Comments Wrapper
 */
.comments-area {

	> * {
		margin-top: var(--wp--preset--spacing--medium);
		margin-bottom: var(--wp--preset--spacing--medium);

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	&.show-avatars {

		.avatar {
			border-radius: 50%;
			position: absolute;
			top: 10px;
		}

		.fn {
			display: inline-block;
			padding-left: 85px;
		}

		.comment-metadata {
			padding: 8px 0 9px 85px;
		}

	}
}

/**
 * Comment Title
 */

.comments-title,
.comment-reply-title {
	//font-size: var(--heading--font-size-h2);
	//letter-spacing: var(--heading--letter-spacing-h2);
	@include mixin.heading(2);
}

.comment-reply-title {
	display: flex;
	justify-content: space-between;

	small {

		a {
			font-family: var(--wp--preset--font-family--body);
			font-size: var(--wp--preset--font-size--x-small);
			font-style: normal;
			font-weight: normal;
			letter-spacing: normal;
		}
	}
}

/* Nested comment reply title*/
.comment .comment-respond .comment-reply-title {
	font-size: var(--wp--preset--font-size--large);
}

/**
 * Comment Lists
 */
.comment-list {
	padding-left: 0;
	list-style: none;

	> li {
		margin-top: var(--wp--preset--spacing--medium);
		margin-bottom: var(--wp--preset--spacing--medium);
	}

}

.comment-list .children {
	list-style: none;
	padding-left: 0;

	> li {
		margin-top: var(--wp--preset--spacing--medium);
		margin-bottom: var(--wp--preset--spacing--medium);
	}

}

.comment-list .depth-2,
.comment-list .depth-3 {
	@include mixin.bp-up(sm) {
		padding-left: calc(4 * var(--wp--preset--spacing--medium));
	}
}

/**
 * Comment Meta
 */
.comment-meta {

	.comment-author {
		line-height: var(--wp--custom--font--line-height--heading);
		margin-bottom: calc(0.25 * var(--wp--preset--spacing--small));

		@include mixin.bp-up(sm) {
			margin-bottom: 0;
			padding-right: 0;
		}

		.fn {
			font-family: var(--wp--preset--font-family--body);
			font-weight: normal;
			font-size: var(--wp--preset--font-size--large);
			hyphens: auto;
			word-wrap: break-word;
			word-break: break-word;
		}

	}

	.comment-metadata {
		color: var(--wp--preset--color--dark);
		font-size: var(--wp--preset--font-size--x-small);
		padding: 8px 0 9px 0;

		.edit-link {
			margin-left: var(--wp--preset--spacing--medium);
		}

	}

	@include mixin.bp-up(sm) {
		margin-right: inherit;

		.comment-author {
			max-width: inherit;
		}
	}
}

.reply {
	font-size: var(--wp--preset--font-size--small);
	line-height: var(--wp--custom--font--line-height--heading);
}

.bypostauthor {
	display: block;
}

.says {
	display: none;
}

.pingback .url,
.trackback .url {
	font-family: var(--wp--preset--font-family--heading);
}

// Comment body
.comment-body {
	position: relative;
	margin-bottom: calc(1.7 * var(--wp--preset--spacing--medium));

	> * {
		margin-top: var(--wp--preset--spacing--medium);
		margin-bottom: var(--wp--preset--spacing--medium);
	}

	.reply {
		margin: 0;
	}
}

.comment-content {
	word-wrap: break-word;
}

// Pingbacks & Trackbacks
.pingback .comment-body,
.trackback .comment-body {
	margin-top: var(--wp--preset--spacing--medium);
	margin-bottom: var(--wp--preset--spacing--medium);
}

.comment-respond {
	margin-top: var(--wp--preset--spacing--medium);
}

.comment-respond > * {
	margin-top: var(--wp--preset--spacing--small);
	margin-bottom: var(--wp--preset--spacing--small);

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;

		&.comment-form {
			margin-bottom: var(--wp--preset--spacing--medium);
		}
	}
}

.comment-author {
	padding-top: 3px;

	.url {
		color: currentColor;
	}
}

.comment-form {
	display: flex;
	flex-wrap: wrap;

	> * {
		flex-basis: 100%;
	}

	.comment-notes {
		font-size: var(--wp--preset--font-size--small);
	}

	.comment-form-url,
	.comment-form-comment {
		width: 100%;
	}

	.comment-form-author,
	.comment-form-email {
		flex-basis: 100%;
		flex-grow: 1;

		@include mixin.bp-up(sm) {
		flex-basis: 0;
		}
	}

	.comment-form-cookies-consent > label,
	.comment-notes {
		font-size: var(--wp--preset--font-size--x-small);
		font-weight: normal;
	}
}

.comment-form > p {
	margin-bottom: var(--wp--preset--spacing--small);

	&:first-of-type {
		margin-top: 0;
	}

	&:last-of-type {
		margin-bottom: 0;
	}

	label,
	input[type="email"],
	input[type="text"],
	input[type="url"],
	textarea {
		display: block;
		font-size: var(--wp--preset--font-size--small);
		margin-bottom: calc(.5 * var(--wp--preset--spacing--small));
		width: 100%;
		font-weight: var(--form--label-weight);
	}

	&.comment-form-cookies-consent {
		display: flex;
	}

	@include mixin.bp-up(sm) {

		&.comment-form-author {
			margin-right: calc(1.5 * var(--wp--preset--spacing--medium));
		}

		&.comment-notes,
		&.logged-in-as {
			display: block;
		}
	}
}
