


@use '../../02-tools/mixins.scss' as mixin;

.site-footer-container {
	background-color: var(--wp--preset--color--footer-background);
	@include mixin.align(full);
}

// Footer
.site-footer {
	//TODO: temp color

	padding: var(--wp--preset--spacing--small) var(--wp--preset--spacing--small) var(--wp--preset--spacing--large);
	@include mixin.align(wide);
	font-size: var(--wp--custom--font--size--footer);
	color: var(--wp--preset--color--footer-text);
	// // Increase the top vertical spacing when there is no widget area.
	// .no-widgets & {
	// 	margin-top: calc(6 * var(--wp--preset--spacing--medium));
	// }

	// @include media(mobile-only) {

	// 	.no-widgets & {
	// 		margin-top: calc(3 * var(--wp--preset--spacing--medium));
	// 	}
	// }
}



// Footer Branding
// .site-footer>.site-info {
// 	padding-top: var(--wp--preset--spacing--medium);
// 	color: var(--wp--custom--footer--color-text);
// 	font-family: var(--wp--preset--font-family--body);
// 	font-size: var(--wp--custom--footer--font-size);
// 	line-height: var(--wp--custom--font--line-height--body);
// 	border-top: 3px solid var(--wp--preset--color--contrast);

// 	.site-name {
// 		text-transform: var(--branding--title--text-transform);
// 		font-size: var(--branding--title--font-size);
// 	}

// 	.privacy-policy,
// 	.powered-by {
// 		margin-top: calc(0.5 * var(--wp--preset--spacing--medium));
// 	}

// 	@include media(desktop) {
// 		display: flex;
// 		align-items: center;

// 		.site-name {
// 			margin-right: calc(0.5 * var(--wp--preset--spacing--medium));
// 		}

// 		.privacy-policy,
// 		.powered-by {
// 			margin-top: initial;
// 			margin-left: auto;
// 		}

// 		.privacy-policy+.powered-by {
// 			margin-left: calc(0.5 * var(--wp--preset--spacing--medium));
// 		}
// 	}

// 	a {
// 		color: var(--wp--custom--footer--color-link);

// 		&:link,
// 		&:visited,
// 		&:active {
// 			color: var(--wp--custom--footer--color-link);
// 		}

// 		&:hover {
// 			color: var(--wp--custom--footer--color-link-hover);
// 		}

// 		&:focus {
// 			color: var(--wp--custom--footer--color-link-hover);

// 			.is-dark-theme & {
// 				color: var(--wp--style--color--link, var(--wp--preset--color--background));
// 			}

// 			// Change colors when the body background is white.
// 			.has-background-white & {
// 				color: var(--wp--style--color--link, var(--wp--preset--color--white));
// 			}
// 		}
// 	}
// }

.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

.footer-widgets .widget ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-widgets .widget li {
  font-size: var(--wp--custom--font--size--footer);
}
