
.footer-navigation {
	margin-top: calc(2 * var(--wp--preset--spacing--40));
	margin-bottom: var(--wp--preset--spacing--40);
	color: var(--wp--custom--footer--color-text);
	font-size: var(--wp--preset--font-size--x-small);
	font-family: var(--wp--preset--font-family--body);
}

.widget_nav_menu {
	overflow: hidden;
}
.footer-navigation-wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	list-style: none;
	padding-left: 0;

	li {
		display: inline;
		// This is to prevent hover styles from overlapping when the menu wraps.
		line-height: 3;

		a {
			padding: calc(1.25 * var(--primary-nav--padding)) var(--primary-nav--padding);
			color: var(--wp--custom--footer--color-link);

			&:link,
			&:visited,
			&:active {
				color: var(--wp--custom--footer--color-link);
			}

			&:hover {
				text-decoration: underline;
				text-decoration-style: dotted;
				text-decoration-skip-ink: none;
				color: var(--wp--custom--footer--color-link-hover);
			}

			&:focus {

				.is-dark-theme & {

					.svg-icon {
						fill: var(--wp--style--color--link, var(--wp--preset--color--background));
					}
				}

				// Change colors when the body background is white.
				.has-background-white & {

					.svg-icon {
						fill: var(--wp--style--color--link, var(--wp--preset--color--white));
					}
				}
			}
		}

		.svg-icon {
			vertical-align: middle;
			fill: var(--wp--custom--footer--color-link);

			&:hover {
				transform: scale(1.1);
			}

			@media (prefers-reduced-motion: no-preference) {
				transition: transform 0.1s ease;
			}
		}
	}

	.sub-menu-toggle,
	.menu-item-description {
		display: none;
	}
}
