@use '../../02-tools/mixins.scss' as mixin;

// ==========================
// Site header
// ==========================

.site-header-container {
	display: flex;
	flex-wrap: wrap;
}

.site-header {

	display: flex;
	// flex: 0 0 auto;
	flex-direction: row; // mobile first
	justify-content: space-between;
	align-items: center;
	align-content: center;

	// TODO: remove padding if above navbar breakpoint, and displaying wide, not full
	padding-inline: calc(var(--wp--custom--spacing--horizontal)/2);
	// TODO: move to theme.json
	--custom--spacing--nav-mobile: 0.5rem;

	background-color: var(--wp--preset--color--navbar-background);
	transition: background .3s ease;

	//background: red;

	flex-wrap: wrap;

	&.is-shrunk {
		background-color: rgba(85, 85, 85, 0.5) !important;
	}

	&.is-sticky {
		position: sticky;
		top: 0;
		z-index: 1000;
		/* keep above content */

	}

	&.is-transparent {
		//TODO: transparent needs better styling
		background: transparent;
		color: white;
		//box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
		/* subtle */
	}

}

.site-branding {
	display: flex;
	// flex: 0 0 auto;
	flex-direction: row;
	align-items: center;

	.custom-logo-link {
		padding-block: var(--custom--spacing--nav-mobile);
		padding-right: var(--custom--spacing--nav-mobile);

		>picture,
		>img {
			max-height: 45px;
			width: auto;
			margin-left: auto;
			margin-right: auto;
			padding-right: var(--custom--spacing--mobile);
			transition: height .5s ease;

			@include mixin.bp-up(navbar) {
				max-height: 65px;
			}
		}
	}

	@include mixin.bp-up(navbar) {
		.site-header.is-shrunk {
			.custom-logo-link {

				>picture,
				>img {
					max-height: 55px;
				}
			}
		}
	}

	.site-title {
		// color: var(--wp--preset--color--headings);
		color: currentColor;
		font-family: var(--wp--preset--font-family--heading);
		font-weight: var(--wp--custom--font--weight--heading);
		font-size: var(--wp--custom--font--size--site-title);
		line-height: 1.3;
		text-align: center;

		a {
			color: currentColor;
			text-decoration: none;
		}

		@include mixin.bp-up(navbar) {
			text-align: left;
		}
	}
}


.site-search {
	display: none;
	position: relative;

	.search-toggle {
		background: none;
		border: none;
		cursor: pointer;
	}

	form {
		display: none; // hidden initially
		position: absolute;
		top: 100%;
		right: 0;
	}

	&.active form {
		display: block;
	}
}





// ==========================
// Custom header image - inside full width container, but not part of site-header
// ==========================

.wp-custom-header {
	position: relative;
	// background-size: cover;
	// background-position: center;
	height: 400px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	@include mixin.align(full);

	// Optional overlay for better text readability
	&::before {
		content: "";
		position: absolute;
		inset: 0; // shorthand for top:0; right:0; bottom:0; left:0;
		/* default to 0.25 if not set */
		background: rgba(0, 0, 0, var(--wp--custom--custom-header--overlay-opacity, 0.25));
		z-index: -1;
	}

	img,
	picture,
	video {
		position: relative;
		width: 100%;
		height: 100%;
		object-fit: cover;
		/* ensures it covers fully, preserving aspect ratio */
		z-index: -2;
		/* send behind overlay text/logo */
	}

	&-inner {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 0;
	}

	&-title,
	&-description {
		font-size: var(--wp--custom--font--size--custom-header);
		font-weight: var(--wp--custom--font--weight--custom-header);
		line-height: var(--wp--custom--font--line-height--custom-header);
		color: var(--wp--preset--color--custom-header-text);
		text-decoration: none;
	}

	&-title {
		margin-bottom: 1rem;
	}


	&-description {
		font-size: calc(var(--wp--custom--font--size--custom-header) * 0.8);
	}
}