@use '../../02-tools/mixins.scss' as mixin;

.page-header {
	border-bottom: 3px solid var(--wp--preset--color--contrast);
	padding-bottom: var(--wp--preset--spacing--medium);
}

.page-title {
	@include mixin.heading(1);
}

.archive-description {
	margin-top: var(--wp--preset--spacing--medium);
	font-size: var(--wp--preset--font-size--x-large);
	line-height: var(--wp--custom--font--line-height--heading);
}