@use '../../02-tools/mixins.scss' as mixin;

/* Next/Previous navigation */

// All navigation
.navigation {
	color: var(--wp--preset--color--contrast);

	a {
		color: var(--wp--preset--color--contrast);
		text-decoration: none;

		&:hover {
			color: var(--wp--preset--color--contrast);
			text-decoration: underline;
			text-decoration-style: dotted;
		}

		&:focus {
			color: var(--wp--preset--color--secondary);
		}

		&:active {
			color: var(--wp--preset--color--dark);
		}
	}

	.nav-links {

		>* {
			min-width: 44px;
			min-height: 44px;
		}

		.nav-next a,
		.nav-previous a {
			display: flex;
			flex-direction: column;
		}

		.dots {
			text-align: center;
		}

		@include mixin.bp-up(md) {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;

			.nav-next,
			.nav-previous {
				flex: 0 1 auto;
				margin-bottom: inherit;
				margin-top: inherit;
				max-width: calc(50% - (0.5 * var(--wp--preset--spacing--small)));
			}

			.nav-next {
				text-align: right;
			}
		}
	}

	.svg-icon {
		display: inline-block;
		fill: currentColor;
		vertical-align: middle;
		position: relative;
	}

	.nav-previous .svg-icon,
	.prev .svg-icon {
		top: -2px;
		margin-right: calc(0.25 * var(--wp--preset--spacing--small));
	}

	.nav-next .svg-icon,
	.next .svg-icon {
		top: -1px;
		margin-left: calc(0.25 * var(--wp--preset--spacing--small));
	}
}

// Singular navigation
.post-navigation {

	margin: var(--wp--preset--spacing--small) auto;

	@include mixin.bp-up(md) {
		margin: var(--wp--preset--spacing--medium) auto;
	}

	//@extend %responsive-alignwide-width;

	.meta-nav {
		line-height: var(--wp--custom--font--line-height--body);
		color: var(--wp--preset--color--dark);
	}

	.post-title {
		display: inline-block;
		font-family: var(--wp--preset--font-family--heading);
		font-size: var(--wp--preset--font-size--large);
		font-weight: 600;
		line-height: var(--wp--custom--font--line-height--heading);

		@include mixin.bp-up(md) {
			margin: 5px calc(24px + (0.25 * var(--wp--preset--spacing--small))) 0;
		}
	}

	.nav-links {
		@include mixin.bp-up(sm) {
			justify-content: space-between;
		}
	}

	.nav-next,
	.nav-previous {
		margin-top: var(--wp--preset--spacing--medium);
		margin-bottom: var(--wp--preset--spacing--medium);

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

// Index/archive navigation
.pagination,
.comments-pagination {

	border-top: 3px solid var(--wp--preset--color--contrast);
	padding-top: var(--wp--preset--spacing--medium);
	margin: var(--wp--preset--spacing--medium) auto;

	@include mixin.bp-up(lg) {
		margin: var(--wp--preset--spacing--medium) auto;
	}

	//@extend %responsive-alignwide-width;

	// Resets the top margin added to the .nav-links items below.
	.nav-links {
		margin-top: calc(-1 * var(--wp--preset--spacing--medium));

		a:hover {
			color: var(--wp--preset--color--contrast);
		}

	}

	.nav-links>* {
		color: var(--wp--preset--color--dark);
		font-family: var(--wp--preset--font-family--body);
		font-size: var(--wp--preset--font-size--large);
		font-weight: 500;
		margin-top: var(--wp--preset--spacing--medium);
		margin-left: var(--wp--preset--spacing--x-small);
		margin-right: var(--wp--preset--spacing--x-small);

		&.current {
			text-decoration: underline;
		}

		&:not(.dots):not(.current):hover {
			text-decoration-style: dotted;
		}

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}

		&.next {
			margin-left: auto;
		}

		&.prev {
			margin-right: auto;
		}
	}

	@include mixin.bp-up(lg) {

		.nav-links {
			display: flex;
			flex-wrap: wrap;
		}

		.page-numbers {
			display: none;

			&.prev,
			&.next {
				display: inline-block;
				flex: 0 1 auto;
			}
		}
	}

	// @include media(mobile-only) {

	// 	.nav-short {
	// 		display: none;
	// 	}
	// }
}

// Comments pagination
.comments-pagination {
	padding-top: calc(0.66 * var(--wp--preset--spacing--medium));
	margin: calc(3 * var(--wp--preset--spacing--medium)) auto;

	@include mixin.bp-up(lg) {
		margin: calc(3 * var(--wp--preset--spacing--medium)) auto calc(4 * var(--wp--preset--spacing--medium)) auto;
	}

	.nav-links>* {
		font-size: var(--wp--preset--font-size--medium);
	}
}