// Block Styles
.wp-block-latest-posts {
    &.is-style-Luma-Core-latest-posts-dividers {
        border-top: calc(3 * var(--wp--custom--separator--height)) solid var(--wp--preset--color--contrast);
        border-bottom: calc(3 * var(--wp--custom--separator--height)) solid var(--wp--preset--color--contrast);

        &:not(.is-grid)>li,
        >li {
            padding-bottom: var(--wp--preset--spacing--medium);
            border-bottom: var(--wp--custom--separator--height) solid var(--wp--preset--color--contrast);
            margin-top: var(--wp--preset--spacing--medium);
            margin-bottom: var(--wp--preset--spacing--medium);

            &:last-child {
                padding-bottom: 0;
                border-bottom: none;
            }
        }

        &.is-grid {
            // Border moves up 1px to overlap the li borders in the last row.
            box-shadow: inset 0 -1px 0 0 var(--wp--preset--color--contrast);
            border-bottom: calc(2 * var(--wp--custom--separator--height)) solid var(--wp--preset--color--contrast);

            li {
                margin: 0;
                padding-top: var(--wp--preset--spacing--medium);
                padding-right: var(--wp--preset--spacing--medium);

                &:last-child {
                    padding-bottom: var(--wp--preset--spacing--medium);
                }
            }

            // This is using a non-standard media query because it is directly overriding the gutenberg-provided widths.
            // https://github.com/WordPress/gutenberg/blob/master/packages/block-library/src/latest-posts/style.scss#L28-L34
            @media screen and (min-width: 600px) {
                @for $i from 2 through 6 {
                    &.columns-#{ $i } li {
                        width: calc((100% / #{ $i }));
                    }
                }
            }
        }
    }
}