a {
	cursor: pointer;
	color: var(--wp--preset--color--contrast);
	text-decoration: underline;
	text-decoration-thickness: from-font;
	/* scales better with variable fonts */
	text-underline-offset: 0.2em;
	text-decoration-skip-ink: auto;
	/* allow underlines to skip descenders when legible */
}

a:hover {
	//text-decoration-style: dotted;
}

// .site a:focus:not(.wp-block-button__link):not(.wp-block-file__button) {
// 	outline: 2px solid transparent;
// 	text-decoration: underline dotted currentColor 1px;
// 	background: rgba(255, 255, 255, .9);
// }

.has-background .has-link-color a,
.has-background.has-link-color a {
	color: var(--wp--style--color--link, var(--wp--preset--color--contrast));
}