@use '../../02-tools/mixins.scss' as mixin;
/**
 * Typography Reset
 *
 * Sets up base typography styles using WordPress CSS custom properties.
 * Provides a consistent foundation for all text elements.
 */

/* ========================================================================
   Body Typography
   ======================================================================== */

body {
    @include mixin.body-text;
}

/* ========================================================================
   Headings Reset
   ======================================================================== */

h1 {
    @include mixin.heading(1);
}

h2 {
    @include mixin.heading(2);
}

h3 {
    @include mixin.heading(3);
}

h4 {
    @include mixin.heading(4);
}

h5 {
    @include mixin.heading(5);
}

h6 {
    @include mixin.heading(6);
}

/* ========================================================================
   Text Elements
   ======================================================================== */

p {
    margin: 0 0 var(--wp--custom--spacing--vertical) 0;
    font-size: inherit;
    line-height: inherit;
}

/* ========================================================================
   Lists
   ======================================================================== */

ul,
ol {
    margin: 0 0 var(--wp--custom--spacing--vertical) 0;
    padding-left: var(--wp--preset--spacing--medium);
}

li {
    margin-bottom: calc(0.5 * var(--wp--preset--spacing--small));
}

/* ========================================================================
   Links
   ======================================================================== */

a {
    color: var(--wp--preset--color--primary);
    text-decoration: none;

    &:hover,
    &:focus {
        color: var(--wp--preset--color--secondary);
        text-decoration: underline;
    }
}

/* ========================================================================
   Small Text
   ======================================================================== */

small {
    font-size: var(--wp--preset--font-size--small);
    // color: var(--wp--preset--color--secondary);
}

/* ========================================================================
   Strong & Bold
   ======================================================================== */

strong,
b {
    font-weight: var(--wp--custom--font--weight--heading);
}

/* ========================================================================
   Emphasis
   ======================================================================== */

em,
i {
    font-style: italic;
}

/* ========================================================================
   Mark / Highlight
   ======================================================================== */

mark {
    background-color: var(--wp--preset--color--luminous-vivid-amber);
    color: var(--wp--preset--color--black);
    padding: 0.125em 0.25em;
    border-radius: var(--wp--custom--radius--small);
}

/* ========================================================================
   Address
   ======================================================================== */

address {
    font-style: normal;
    margin: 0 0 var(--wp--custom--spacing--vertical) 0;
}

/* ========================================================================
   Definition Lists
   ======================================================================== */

dl {
    margin: 0 0 var(--wp--custom--spacing--vertical) 0;
}

dt {
    font-weight: var(--wp--custom--font--weight--heading);
    margin-bottom: calc(0.25 * var(--wp--preset--spacing--small));
}

dd {
    margin: 0 0 var(--wp--preset--spacing--small) var(--wp--preset--spacing--medium);
}

/* ========================================================================
   Horizontal Rules
   ======================================================================== */

hr {
    border: none;
    border-bottom: var(--wp--custom--separator--height) solid;
    padding: 0;
    color: var(--wp--custom--separator--border-color);
    background-color: var(--wp--custom--separator--border-color) !important;
}

/* ========================================================================
   Abbreviations
   ======================================================================== */

abbr[title] {
    text-decoration: underline dotted;
    cursor: help;
}

/* ========================================================================
   Citations
   ======================================================================== */

cite {
    font-style: italic;
    color: var(--wp--preset--color--secondary);
}

/* ========================================================================
   Time
   ======================================================================== */

time {
    //color: var(--wp--preset--color--secondary);
}

/* ========================================================================
   Subscript & Superscript
   ======================================================================== */

sub,
sup {
    font-size: 0.75em;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}