.wp-block-code {
	// border-color: var(--wp--preset--color--contrast);
	// border-radius: 0;
	// border-style: solid;
	// border-width: 0.1rem;
	// padding: var(--wp--preset--spacing--small);

	code {
		// color: var(--wp--preset--color--primary);
		// 	white-space: pre;
		// 	overflow-x: auto;
		// 	display: block;
	}
}