@use '../01-settings/variables.scss' as var;

/* Variables */
$baseline-unit: 1rem;

// NEW VARIABLES
:root {


	/* Buttons */
	@each $name, $value in var.$buttons {
		--button--#{$name}: #{$value};
	}


	/* Main navigation */
	@each $name, $value in var.$primary-nav {
		--primary-nav--#{$name}: #{$value};
	}


}

// :root {
// 	/* Admin-bar height */
// 	--global--admin-bar--height: 0px;
// }

// .admin-bar {
// 	--global--admin-bar--height: 32px;

// 	@media only screen and (max-width: 782px) {
// 		--global--admin-bar--height: 46px;
// 	}
// }

