$baseline-unit: 1rem;

/* Buttons */
$buttons: (
	// Colors
	"color-text": var(--wp--preset--color--background),
	"color-text-hover": var(--wp--preset--color--secondary),
	"color-text-active": var(--wp--preset--color--secondary),
	"color-background": var(--wp--preset--color--secondary),
	"color-background-active": var(--wp--preset--color--background),
	// Fonts
	"font-family": var(--wp--preset--font-family--heading),
	"font-size": var(--wp--preset--font-size--medium),
	"font-weight": 500,
	"line-height": 1.5,
	// Borders
	"border-width": 3px,
	"border-radius": 0,
	// Spacing
	"padding-vertical": 15px,
	"padding-horizontal": calc(2 * var(--button--padding-vertical)),
);



$primary-nav: (
	"font-family": var(--wp--preset--font-family--body),
	"font-family-mobile": var(--wp--preset--font-family--heading),
	"font-size": var(--wp--preset--font-size--medium),
	"font-size-sub-menu": var(--wp--preset--font-size--x-small),
	"font-size-mobile": var(--wp--preset--font-size--small),
	"font-size-sub-menu-mobile": var(--wp--preset--font-size--small),
	"font-size-button": var(--wp--preset--font-size--x-small),
	"font-style": normal,
	"font-style-sub-menu-mobile": normal,
	"font-weight": normal,
	"font-weight-button": 500,
	"color-link": var(--wp--preset--color--dark),
	"color-link-hover": var(--wp--preset--color--contrast),
	"color-text": var(--wp--preset--color--dark),
	"padding": calc(0.66 * var(--wp--preset--spacing--small)),
	"border-color": var(--wp--preset--color--primary),
);






// breakpoints moved to tools/mixins.scss to avoid cross-file coupling