// @use '../../02-tools/legacy-breakpoints.scss' as *;


.wp-block-image {
	text-align: center;
	// TODO TEST IMAGE ALIGNMENT AND FIGCAPTION
	
	// figcaption {
	// 	//color: var(--wp--preset--color--dark);
	// 	font-size: var(--wp--preset--font-size--x-small);
	// 	//line-height: var(--wp--custom--font--line-height--body);
	// 	margin-top: calc(0.5 * var(--wp--preset--spacing--30));
	// 	margin-bottom: var(--wp--preset--spacing--30);
	// 	text-align: center;
	// }

	// .alignright {
	// 	margin-left: var(--wp--preset--spacing--40);
	// }

	// .alignleft {
	// 	margin-right: var(--wp--preset--spacing--40);
	// }

	// a:focus img {
	// 	outline-offset: 2px;
	// }
}

// Remove vertical margins from image block wrappers when floated
// .entry-content > *[class="wp-block-image"],
// .entry-content [class*="inner-container"] > *[class="wp-block-image"] {
// 	margin-top: 0;
// 	margin-bottom: 0;

// 	// Remove top margins from the following element when previous image block is floated
// 	+ * {
// 		margin-top: 0;
// 	}
// }

// .entry-content {

// 	> .wp-block-image {

// 		> .alignleft,
// 		> .alignright {
// 			@include media(mobile) {
// 				max-width: 50%;
// 			}
// 			@include media(mobile-only) {
// 				margin-left: 0;
// 				margin-right: 0;
// 			}
// 		}
// 	}
// }
